.nf-form-cont {
   margin-bottom: $gutter;

   .nf-response-msg {
      margin-bottom: $gutter;
   }
   .nf-form-content{
      margin: $gutter 0;
      .nf-field-label {
         margin-bottom: $gutter/4;
         label {
            font-weight: 500;
            color: $doveGray;
         }
      }
      input[type='text'],
      input[type='email']{
         padding-left: $gutter/2;
         border-radius: 4px;
         height: 35px;
         border-color: $doveGray;
      }
      textarea {
         padding: $gutter/2;
      }
      input[type='button']{
         @include font-size(1.4);
         text-align: center;
         border: 1px solid $orange;
         background-color: $white;
         display: inline-block;
         padding: $gutter;
         border-radius: 12px;
         cursor: pointer;
      }
   }
}